In [ ]:
# 1 тапсырма
data_rows = []
with open("Salaries.csv", "r", encoding="utf-8") as file:
    for i, line in enumerate(file):
        if i == 0:
            continue
        if i == 11:
            break
        data_rows.append(line.strip().split(","))
print(len(data_rows))
print(data_rows[0])

10
['1', 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', '167411.18', '0.0', '400184.25', '', '567595.43', '567595.43', '2011', '', 'San Francisco', '']

In [ ]:
# 2 тапсырма
name_index = 1
title_index = 2
first_three_names = tuple(row[name_index] for row in data_rows[:3])
employee_titles = {row[name_index]: row[title_index] for row in data_rows[:3]}
print("first_three_names =", first_three_names)
print("employee_titles =", employee_titles)

first_three_names = ('NATHANIEL FORD', 'GARY JIMENEZ', 'ALBERT PARDINI')
employee_titles = {'NATHANIEL FORD': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'GARY JIMENEZ': 'CAPTAIN III (POLICE DEPARTMENT)', 'ALBERT PARDINI': 'CAPTAIN III (POLICE DEPARTMENT)'}

In [ ]:
# 3 тапсырма
basepay_index = 3
base_pays_str = [row[basepay_index] for row in data_rows]
print("base_pays_str =", base_pays_str)

base_pays_str = ['167411.18', '155966.02', '212739.13', '77916.0', '134401.6', '118602.0', '92492.01', '256576.96', '176932.64', '285262.0']